p {
    margin-bottom: 0;
}

thead tr {
    font-family: 'Open sans', sans-serif;
    color: white;
}

th {
    width: 6.5%
}

td {
    border-bottom-width: 1px;
}

tbody tr {
    height: 80px;
}

.task {
    text-align: start;
}

.hoveredTask {
    text-align: start;
    background: skyblue;
}

.hovered {
    background: cornflowerblue;
    border-color: white;
    border-style: solid;
    vertical-align: top;
}

.sameMonth {
    border-color: white;
    border-style: solid;
    background: gray;
    vertical-align: top;
}

.otherMonth {
    border-color: white;
    border-style: solid;
    background: lightgray;
    vertical-align: top;
}

.today {
    border-color: lavender;
    border-radius: 10px;
    border-bottom-style: groove;
}